HELP.md
target/
.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/

### Local temporary verification / runtime artifacts ###
tmp-test-config/
/private-jobs/*
!/private-jobs/README.md
tmp-sqlserver-connect.txt
logs/
src/main/resources/config-jobs/**/output/
src/main/resources/config-jobs/xml-nested-to-csv-tag-validation/input/*.DTVL

